.comment-list {
    width: 610px;
    height: 150px; 
    overflow-y: auto; 
    overflow-x: hidden; 
    margin-bottom: 200px; 
    background-color: #B0BEC5;
    border-radius: 5px; 
    margin-left: -604px;   
    position: relative; 
    color: black; 
}

.no-comments-message {
    margin-top: 58px;  
    font-size: 16px;              
    color: #000;                
    text-align: center;          
  }

.comment-item {
    margin-bottom: 5px;
}

.comment-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.comment-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.comment-header {
    margin-left: 5px;
    width: 100%;
}

.comment-header strong {    
    margin-right: 8px; 
}

.comment-header small { 
    font-size: 13px; 
    font-style: italic; 
}

.comment-content {
    margin-left: 5px;  
}

.steady-comment-list {
    scroll-behavior: smooth;
    position: relative;
}

.send-icon-button {
    margin-bottom: 50px;
  }