/* Header */
.dashboard-header {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin: 100px 0 20px; /* Adjusted left margin for alignment */
  text-align: center;
}

/* Controls */
.dashboard-controls {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 30px auto;
}

.btn {
  width: 220px;
  height: 60px;
  font-size: 18px;
  background-color: #009688;
  color: #ffffff;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
  background-color: #00796b;
  transform: scale(1.05);
}

.icon {
  margin-right: 8px;
}

/* Recent Workouts */
.recent-workouts {
  margin: 30px auto;
  width: 90%;
  max-width: 1200px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.recent-workouts h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333333;
  border-bottom: 2px solid #009688;
  padding-bottom: 8px;
}

.workout-labels-dashboard,
.workout-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 16px;
  padding: 10px 0;
  text-align: left;
}
.workout-labels-dashboard{
  color: #009688;
  font-weight: bold;
}

.workout-item {
  background-color: #f9f9f9;
  margin-top: 10px;
  border-radius: 8px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.workout-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}
.no-workouts{
  margin-top: 10px;
  text-align: center;
}