
.update-workout-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #c2bdbd;
  }
  
  .update-workout-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
  }
  
  .formGroup input {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .saveButton,
  .cancelButton {
    width: 35%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .saveButton {
    background-color: #4CAF50;
    color: white;
    margin-top: 10px;
  }
  
  .saveButton:hover {
    background-color: #45a049;
  }
  
  .cancelButton {
    background-color: #f44336;
    color: white;
    margin-top: 10px;
  }
  
  .cancelButton:hover {
    background-color: #d32f2f;
  }
  