.workout-list {
  padding: 40px;
  max-width: 800px; /* Center the workout logs */
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%; /* Buttons should fill the width of the container */
  gap: 10px; /* Spacing between buttons */
}

h2 {
  margin-bottom: 20px; /* Add some space below the header */
}

.search-container {
  position: fixed; /* Fixed positioning to keep the search bar on the right */
  right: 20px; /* Position it to the right edge */
  top: 80px; /* Adjust top position to prevent overlap with navbar */
  z-index: 100; /* Ensure it stays on top of other content */
}

.search-input {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
 
.modalContent {
  background: #242526;
  padding: 20px;
  border-radius: 8px;
  color: white;
  text-align: center;
  width: 300px;
}
 
.modalButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.workout-list {
  display: flex;
  flex-direction: column; /* Stack the workout cards vertically */
  gap: 15px;
  flex-grow: 1; /* Allow the workout logs to take up available space */
}

.workout-card {
  width: 100%; /* Make each card take up full width */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.workout-card h3 {
  margin-top: 0;
}

.workout-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.update-btn, .delete-btn {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.update-btn {
  background-color: #4CAF50;
  color: #FFFFFF;
}

.delete-btn {
  background-color: #FF5252;
  color: #FFFFFF;
}

.saveButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.cancelButton {
  background-color: #FF5252;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
 