/* Container for workout logs */
.workoutLogsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: space-between;
}

/* Each workout log item */
.workoutLogItem {
  flex: 0 1 calc(25% - 20px); /* 4 items per row with some spacing */
  box-sizing: border-box;
  background-color: #ffffff; /* Adjusted background color */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; /* Align text to the left except for Exercise Type */
  transition: transform 0.2s ease-in-out;
}

/* Hover effect for workout log items */
.workoutLogItem:hover {
  transform: translateY(-5px);
}

/* Text alignment adjustments */
.workoutLogItem h3 {
  text-align: center; /* Exercise Type remains centered */
  font-size: 18px;
  margin-bottom: 10px;
}

.workoutLogItem p {
  text-align: left; /* Align other texts to the left */
  font-size: 14px;
  margin-bottom: 8px;
}

/* Button styles for workout actions */
.workout-actions {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Buttons should fill the width of the container */
  gap: 10px; /* Spacing between buttons */
}

/* Button styles for modal */
.saveButton, .cancelButton {
  padding: 10px 20px;
  border-radius: 5px;
}

.saveButton {
  background-color: #4CAF50;
  color: white;
}

.cancelButton {
  background-color: #FF5252;
  color: white;
}

/* Button styles for workout actions */
.update-btn {
  background-color: #009688; /* Update button color */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn {
  background-color: #FF5252; /* Delete button color */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Modal styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: #242526;
  padding: 20px;
  border-radius: 8px;
  color: white;
  text-align: center;
  width: 300px;
}

.modalButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

/* Search container style */
.search-container {
  position: fixed;
  right: 20px;
  top: 80px;
  z-index: 100;
}

.search-input {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .workoutLogItem {
    flex: 0 1 calc(50% - 20px); /* 2 items per row on medium screens */
  }
}
