/* Container styles */
.container {
  max-width: 400px;
  margin: 80px auto 0; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.save-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.textBox{
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-workout, .workout-list {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.workout-item {
  margin-bottom: 15px;
}

button {
  margin-top: 10px;
}
.lists{
  list-style-type: none;
}
.workout-dashboard {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.workout-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.workout-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: #f9f9f9;
}

.workout-card h3 {
  margin-top: 0;
}

.workout-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.update-btn, .delete-btn {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.update-btn {
  background-color: #4CAF50;
  color: white;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}
