.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.header {
  padding: 10px;
  background-color: #f0f0f0;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.header a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.header a:hover {
  color: #FFFFFF;
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #263238;
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
  z-index: 1000;
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
}

.navbar-logo img {
  height: 40px;
  width: auto;
  display: block;
}

.navList {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.navLink {
  text-decoration: none;
  color: #fdfdfd;
  font-weight: bold;
  transition: color 0.3s;
}

.navLink:hover {
  color: #009688;
}

.navLogout button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
}


/* Footer styles */
.footer {
  background-color: #263238;
  color: #fdfdfd;
  padding: 15px 20px;
  text-align: center;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer a {
  color: #009688;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}

.container {
  padding: 20px;
}

.formGroup {
  margin-bottom: 15px;
}



