#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* src/App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.header {
  padding: 10px;
  background-color: #f0f0f0;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.header a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.header a:hover {
  color: #007bff;
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #28a745;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  z-index: 1000;
}
.navList {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.navLogworkout{
margin-left: auto;
margin-right: 150px;
}
.navDashboard {
  margin-right: 20px;
  margin-left: 50px;
}

.navLink {
  text-decoration: none;
  color: #333;
}

.container {
  padding: 20px;
}

.formGroup {
  margin-bottom: 15px;
}

.saveButton {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}